[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
asgiref = "3.3.4"
coverage = "5.5"
django-cors-headers="3.7.0"
pytz="2021.1"
sqlparse="0.4.1"
pillow="*"

[dev-packages]

[requires]
python_version = "3.9"
